body {
	background-color: black;
	color:white;
}
table.nav {
	float:right;
	color: white;
	border-color: black;
}
.nav td{
	padding:20px 35px;
}
hr {
	height:0.05px;
	color: white;
	clear:both;
	margin:0px;
}
td.project{
	border-bottom-color: white;
	border-bottom-width: 2px;
	border-bottom-style:solid;
	margin-bottom:0px;
}
div.img{
	float:left;
	background-color: #afd6ea;
	width:170px;
	height:170px;
}
section.project {
	display:flex;
	flex-flow:row wrap;
	margin-top:45px;
	margin-left:40px;
	flex:2;

}
div.project {
	flex:0 0 610px;
	width:650px;
	padding:0px 0px 25px 0;
}

div{
	float:clear;
}

.date {
	border-style:solid;
	border-color: #54c6ff;
	border-radius: 20px;
	width:80px;
	height:80px;
	text-align: center;
	font-size:25px;
}
table.event {
	margin-top: 80px;
	padding:20px 120px 40px 70px;
	border-spacing: 10px 10px;
	border-left: solid white 1px;
}
section.event {
	width:400px;
	flex:0 0 400px;
}
main {
	display:flex;
	flex-flow: row wrap;
}
a:hover {
	color:white;
}
a:active {
	color:white;
}
a:visited {
	color:white;
}
a{
	text-decoration: none;
}